body {
  line-height: 1.7;

  color: rgba(0, 0, 0, 0.705); 
  font-weight: 600;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
 
  background-color: white;

   }
   a:hover {
      text-decoration: none; }
      ::-moz-selection {
        background: #000;
        color: #fff; }
      
      ::selection {
        background: #000;
        color: #fff; }
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; 
}

  *, *::before, *::after {
      margin: 0;
      padding: 0; }
    


ul{
  font-weight: 400;
}

p{
font-weight: 400;
}

h3{
font-weight: 600;
}
h4{
font-weight: 600;
}
h6{
font-weight: 600;
}


.carousel {
    background-image: url(../images/banner/1920-developers-basico.png), linear-gradient(#5d009b, #7b6ebe);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 0px;
    padding-bottom: 0px;
}

.carousel-title {
    height: 0vw;
    margin: 1rem auto 23rem 1rem;
    width: 100vw;
}
  .btn-aplica-slide {
    margin-left: 10vw;
    border: white solid 2px;
    background-color: transparent;
    color: white;
    width: 12vw;
    height: 4vw;
    display: flex;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
    border-radius: 2px;
  }
  
  .btn-aplica-slide a {
    color: white;
    vertical-align: middle;
    font-size: 20px;
    text-transform: uppercase;
  }
  .btn-aplica-slide:hover {
    background-color: rgba(255, 255, 255, 0.384);
  }
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 3 / 1 / 4 / 2; }
    .div5 { grid-area: 4 / 1 / 5 / 2;  }
    .div6 { grid-area: 5 / 1 / 6 / 2; }
    .div7 { grid-area: 6 / 1 / 7 / 2;  }




.container-text{
    display: flex;
    flex-direction: row;
    width: 59vw;
    margin-top: 3vw;
}
.objetivos-programa-img{
    width:350vw;
    height:350vw;
}

/* CARD  */
  .card-cursos {
    background-color: #5564eb;
    width: 23rem;
    height: 30rem;
    padding-top: 15px;
    border-radius: 5px;
    
  }

  .contenido-card {
    text-align: left;
    padding-left: 2rem;
  }
  
  .button-card {
    border: solid 2px white;
    background-color: transparent;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-bottom:20px;
    margin-right:20px;
    margin-left:45px;
    border-radius: 2px;
    align-self: left;
  }

  .button-card a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
  }

  .button-card:hover{
      background-color:#ffffff5d;
  }
.p-numero {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 0;
    margin-left: 85px;
}
  .card-title {
    font-size: 20px;
    color: #ffffff;
    margin: 0;
  }
  .p-info-descuentos {
    font-size: 18px;
    color: white;
    margin-top: 5px;
    margin-bottom: 15px;
  }
4
  .small-card {
    font-size: 14px;
    margin-left: 10px;
    color: white;
  }  
  .div1-card {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2-card {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3-card {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div4-card {
    grid-area: 4 / 1 / 5 / 2;
  }
  .flex-egresado {
    display: flex;
    flex-direction: row;
  }
  .div5-card {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div6-card {
    grid-area: 2 / 2 / 3 / 3;
  }
  .div7-card {
    grid-area: 3 / 2 / 4 / 3;
  }
  .div8-card {
    grid-area: 4 / 2 / 5 / 3;
  }
  .title-card-data {
    margin: 0;
    color: white;
  }
  
  .container-button-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* margin: 20px; */
  }

  /* CARD  */
/* PROXIMAS FECHAS  */

  #proximas-fechas {
   
    margin-bottom: 30px;
    /*width: max-content;*/
  }
  
  
  
  .container-grid-proximas-fechas {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 12vw);
    margin-bottom: 20px;
    margin-top: 20px;
    -webkit-box-align: center;
    margin-left: 2vw;
}
  
  
  .line-fechas {
    height: 2px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: auto;
    
    background-color: #5d009b;
  }
  .button-fechas {
    color: white;
    text-decoration: none;
    background-color: #5d009b;
    width: 8rem;
    height: 3rem;
    border: solid #5d009b;
    border-radius: 2px;
    font-size:19px;
  }
  .button-fechas{
    color: white;
    text-decoration: none;
  }
  
  .button-fechas a:hover {
    text-decoration: none;
    color: white;
    width: 100rem;
  }
  .button-fechas:hover {
    background-color: #5d009b8a;
    border: none;
  }
.parent-card {
    display: grid;
    grid-template-columns: 0.2fr 301px;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 0px;
    grid-row-gap: 2px;
}
  
  .div1-card {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2-card {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3-card {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div4-card {
    grid-area: 4 / 1 / 5 / 2;
  }
  
  .div5-card {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div6-card {
    grid-area: 2 / 2 / 3 / 3;
  }
  .div7-card {
    grid-area: 3 / 2 / 4 / 3;
  }
  .div8-card {
    grid-area: 4 / 2 / 5 / 3;
  }

  

.modal-window {
  position: fixed;
  background-color: #9757c231;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 500px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  border-right: solid #5d00b9 2rem;
  background-color: white;
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}

/* Demo Styles */

.btn-popup {
  color: inherit;
}

.container-popup {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-window > div {
  border-radius: 1rem;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

small {
  color: lightgray;
}

.btn-popup {
  background-color: white;
  border-radius: 1rem;
  text-decoration: none;
}

/* ************** MODAL - POP UP - REQUISITOS  ****************** */

.modal-window-requisitos {
  position: fixed;
  background-color: #9757c231;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window-requisitos:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window-requisitos > div {
  width: 500px;
  height: 240px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  border-right: solid #5d00b9 2rem;
  background-color: white;
}
.modal-window-requisitos header {
  font-weight: bold;
}
.modal-window-requisitos h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}

/* Demo Styles */

.btn-popup {
  color: inherit;
}

.container-popup {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-window-requisitos > div {
  border-radius: 1rem;
}

.modal-window-requisitos div:not(:last-of-type) {
  margin-bottom: 15px;
}

small {
  color: lightgray;
}

.btn-popup {
  background-color: white;
  border-radius: 1rem;
  text-decoration: none;
}

.container-componentes {
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* 
#contact {
 
  
  margin: 150px 0;
} */

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  width: 5rem;
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
  color: #aaa;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"] {
  width: 100%;
  border: 1px solid #5d00b9;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 15px;
  color: #aaa;
  height: 2.5rem;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

input::placeholder {
  color: #5d009b79;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #5d00b9;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  text-decoration: none;
}
#contact button a {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
}

#contact button[type="submit"]:hover {
  background: #5c00b9ce;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.select-popup {
  width: 100%;
  border: 1px solid #5d00b9;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;

  font-size: 15px;
  color: #5d009b79;
  height: 2.5rem;
}

.asterisco-popup {
  color: #5d009b96;
}
.terminos-condiciones a {
  color: #5d009b;
  text-decoration: underline;
}

.title-form-popup {
  color: #5d009b;
  padding-bottom: 2rem;
}
.form-check-label {
  margin-bottom: 0;
  margin-left: 2rem;
}
/* ************** POP UP - FECHAS   ****************** */

/* .precios-modal{
  padding: 1rem
} */
.container-modal-fechas {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  width: auto;
}
.info-modal {
  background-color: #5d009b;
  position: absolute;
  color: white;
  width: 50%;
  height: 100%;
  margin: 0;
  border-radius: 10px;
}
.modal-window-fechas > div {
  width: 650px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  background-color: white;
}
.modal-window-fechas {
  position: fixed;
  background-color: #9757c231;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window-fechas:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window-fechas header {
  font-weight: bold;
}
.modal-window-fechas h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}

/* Demo Styles */

.btn-popup {
  color: inherit;
}

.container-popup {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-window-fechas > div {
  border-radius: 1rem;
  width: auto;
}

.modal-window-fechas div:not(:last-of-type) {
  margin-bottom: 15px;
}

small {
  color: lightgray;
}

.btn-popup {
  background-color: white;
  border-radius: 1rem;
  text-decoration: none;
}

.site-mobile-menu .site-nav-wrap > li {
  font-size: 20px;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin-left: 3px;
}

.modal-window {
  position: fixed;
  background-color: #9757c231;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 500px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  border-right: solid #5d00b9 2rem;
  background-color: white;
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}

/* Demo Styles */

.btn-popup {
  color: inherit;
}

.container-popup {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-window > div {
  border-radius: 1rem;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

small {
  color: lightgray;
}

.btn-popup {
  background-color: white;
  border-radius: 1rem;
  text-decoration: none;
}

/* ************** MODAL - POP UP - REQUISITOS  ****************** */

.modal-window-requisitos {
  position: fixed;
  background-color: #9757c231;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window-requisitos:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window-requisitos > div {
  width: 500px;
  height: 240px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  border-right: solid #5d00b9 2rem;
  background-color: white;
}
.modal-window-requisitos header {
  font-weight: bold;
}
.modal-window-requisitos h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}

/* Demo Styles */

.btn-popup {
  color: inherit;
}

.container-popup {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-window-requisitos > div {
  border-radius: 1rem;
}

.modal-window-requisitos div:not(:last-of-type) {
  margin-bottom: 15px;
}

small {
  color: lightgray;
}

.btn-popup {
  background-color: white;
  border-radius: 1rem;
  text-decoration: none;
}

.container-componentes {
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* 
#contact {
 
  
  margin: 150px 0;
} */

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  width: 5rem;
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
  color: #aaa;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"] {
  width: 100%;
  border: 1px solid #5d00b9;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 15px;
  color: #aaa;
  height: 2.5rem;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

input::placeholder {
  color: #5d009b79;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #5d00b9;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  text-decoration: none;
}
#contact button a {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
}

#contact button[type="submit"]:hover {
  background: #5c00b9ce;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.select-popup {
  width: 100%;
  border: 1px solid #5d00b9;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;

  font-size: 15px;
  color: #5d009b79;
  height: 2.5rem;
}

.asterisco-popup {
  color: #5d009b96;
}
.terminos-condiciones a {
  color: #5d009b;
  text-decoration: underline;
}

.title-form-popup {
  color: #5d009b;
  padding-bottom: 2rem;
}
.form-check-label {
  margin-bottom: 0;
  margin-left: 2rem;
}
/* ************** POP UP - FECHAS   ****************** */

/* .precios-modal{
  padding: 1rem
} */
.container-modal-fechas {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  width: auto;
}
.info-modal {
  background-color: #5d009b;
  position: absolute;
  color: white;
  width: 50%;
  height: 100%;
  margin: 0;
  border-radius: 10px;
}
.modal-window-fechas > div {
  width: 650px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  background-color: white;
}
.modal-window-fechas {
  position: fixed;
  background-color: #9757c231;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window-fechas:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window-fechas header {
  font-weight: bold;
}
.modal-window-fechas h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}

/* Demo Styles */

.btn-popup {
  color: inherit;
}

.container-popup {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-window-fechas > div {
  border-radius: 1rem;
  width: auto;
}

.modal-window-fechas div:not(:last-of-type) {
  margin-bottom: 15px;
}

small {
  color: lightgray;
}

.btn-popup {
  background-color: white;
  border-radius: 1rem;
  text-decoration: none;
}

.site-mobile-menu .site-nav-wrap > li {
  font-size: 20px;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin-left: 3px;
}
/* MEDIA */
@media only screen and (min-width:320px) {

    .pd-120 {
        padding-left: 15px;
    }

    .head-button-card {
        /*padding: 4px 17px !important;*/
        border-radius: 0.3rem !important;
        width: 90%;
        margin-bottom: 12px;
    }

    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 2vw;
    }


    .div1 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .container-text p {
        width: 95vw;
    }

    .div2 {
        grid-area: 1 / 1 / 2 / 2;
        justify-self: center;
    }

    .div3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .div4 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .metodologia-text {
        width: 95vw;
    }

    .div5 {
        grid-area: 5 / 1 / 6 / 2;
    }


    .div6 {
        grid-area: 6 / 1 / 7 / 2;
    }

    .div7 {
        grid-area: 7 / 1 / 8 / 2;
    }

    .container-grid-proximas-fechas {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(4, 23vw);
        margin-bottom: 20px;
        margin-top: 20px;
        -webkit-box-align: center;
        margin-left: 4vw;
    }

        .container-grid-proximas-fechas p {
            font-size: 3.5vw;
        }

        .container-grid-proximas-fechas h4 {
            font-size: 1.0em;
        }

    .button-fechas {
        font-size: 3.5vw;
    }

    .container-text {
        display: flex;
        flex-direction: column;
        width: 45vw;
        margin-top: 3vw;
    }

    .objetivos-programa-img {
        width: 72vw;
        height: 35vw;
    }

    .flex-egresado {
        display: flex;
        flex-direction: column;
    }

    .btn-aplica-slide {
        width: 150px;
        height: 54px;
        margin-left: 27px;
        margin-top: 310px;
    }

        .btn-aplica-slide a {
            color: white;
            vertical-align: middle;
            font-size: 20px;
            text-transform: uppercase;
        }

    .carousel {
        background-image: url(../images/banner/380-developers-basico.png), linear-gradient(#5d009b, #7b6ebe);
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding-top: 120px;
        padding-bottom: 60px;
    }

    .container {
        max-width: 100% !important;
    }

    .btn-aplica-slide a {
        color: white;
        vertical-align: middle;
        font-size: 20px;
        text-transform: uppercase;
    }

    .card-desc {
        margin: -25px auto auto auto;
        padding-bottom: 46px;
    }
}

@media only screen and (min-width:768px) {
    .promocion-button-card {
        border-radius: 0.3rem !important;
        padding: 17px !important;
        background-color: #5d009b;
        border-color: #5d009b;
        width: 100%;
    }

    .pd-120 {
        padding-left: 120px;
    }

    .head-button-card {
        padding: 14px 1px !important;
        width: 120%;
        border-radius: 0.3rem !important;
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(2, 47vw);
        grid-template-rows: repeat(5, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 7vw;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        grid-area: 1 / 2 / 2 / 3;
        width: max-content;
        justify-self: center;
    }

    .div3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .div4 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .div5 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .div6 {
        grid-area: 5 / 1 / 6 / 2;
    }

    .div7 {
        grid-area: 6 / 1 / 7 / 2;
    }

    .container-grid-proximas-fechas {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(3, 18vw);
        margin-bottom: 20px;
        margin-top: 20px;
        -webkit-box-align: center;
        margin-left: 4vw;
        column-gap: 6vw;
        row-gap: 3vw;
    }

        .container-grid-proximas-fechas p {
            font-size: 1.5vw;
        }

    .flex-egresado {
        display: flex;
        flex-direction: column;
    }

    .container-text p {
        width: 48vw;
    }

    .metodologia-text {
        width: 83vw;
    }

    .objetivos-programa-img {
        width: 40vw;
        height: 28vw;
    }

    .button-fechas {
        font-size: 19px;
    }

    .btn-aplica-slide {
        width: 150px;
        height: 54px;
        margin-left: 118px;
        margin-top: 330px;
    }

        .btn-aplica-slide a {
            color: white;
            vertical-align: middle;
            font-size: 20px;
            text-transform: uppercase;
        }

    .carousel {
        background-image: url(../images/banner/768-developers-basico.png),linear-gradient(#5d009b, #7b6ebe);
        background-repeat: no-repeat;
        background-attachment: fixed;
        /*background-size: 100% auto;*/
        background-position: center 13%;
        padding-top: 0px;
        padding-bottom: 40px;
    }
}
@media only screen and (min-width:1200px) {

    .head-button-card {
        border-radius: 0.3rem !important;
        width: 100%;
    }

    .carousel {
        background-image: url(../images/banner/1920-developers-basico.png),linear-gradient(#5d009b, #7b6ebe);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% auto;
        background-position: center 60px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(2, 49vw);
        grid-template-rows: repeat(5,auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .div3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .div4 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .div5 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .div6 {
        grid-area: 5 / 1 / 6 / 2;
    }

    .div7 {
        grid-area: 6 / 1 / 7 / 2;
    }

    .container-grid-proximas-fechas p {
        font-size: 1.5vw;
    }

    .container-grid-proximas-fechas {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(5, 7vw);
        margin-bottom: 20px;
        margin-top: 20px;
        -webkit-box-align: center;
        margin-left: 4vw;
        column-gap: 6vw;
        row-gap: 3vw;
    }

    .btn-aplica-slide {
        width: 150px;
        height: 54px;
        margin-left: 118px;
    }

        .btn-aplica-slide a {
            color: white;
            vertical-align: middle;
            font-size: 20px;
            text-transform: uppercase;
        }
}

@media only screen 
and (min-width:1600px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 40vw);
        grid-template-rows: repeat(5, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
     .div1 { grid-area: 1 / 1 / 2 / 2; }
 .div2 { grid-area: 1 / 2 / 2 / 3; }
 .div3 { grid-area: 2 / 1 / 3 / 2; }
 .div4 { grid-area: 3 / 1 / 4 / 2; }
 .div5 { grid-area: 4 / 1 / 5 / 2; }
 .div6 { grid-area: 5 / 1 / 6 / 2; }
 .div7 { grid-area: 6 / 1 / 7 / 2; }

 .container-grid-proximas-fechas p{
     font-size: 1.5vw;
 }
 .container-grid-proximas-fechas {
     display: grid;
     place-items: center;
     grid-template-columns: repeat(5, 7vw);
     margin-bottom: 20px;
     margin-top: 20px;
     -webkit-box-align: center;
     margin-left: 4vw;
     column-gap: 6vw;
     row-gap: 3vw;
 }
    .carousel {
        background-image: url(../images/banner/1920-developers-basico.png),linear-gradient(#5d009b, #7b6ebe);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% auto;
    }
 .btn-aplica-slide {
  width: 150px;
  height: 54px;
  margin-left: 240px;

  margin-top: 350px;
}

 .btn-aplica-slide a {
  color: white;
  vertical-align: middle;
  font-size: 20px;
  text-transform: uppercase;
}
}
 @media only screen 
and (min-width:2200px) {
body{
  font-size: 1.3rem;
}
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 50vw);
        grid-template-rows: repeat(5, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

   .nav-link > a{
     font-size: 1vw;
   }
   .nav-link > p{
     font-size: 0.9vw;
   }
   .div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 3 / 1 / 4 / 2; }
.div5 { grid-area: 4 / 1 / 5 / 2; }
.div6 { grid-area: 5 / 1 / 6 / 2; }
.div7 { grid-area: 6 / 1 / 7 / 2; }

.container-grid-proximas-fechas p{
   font-size: 1.5vw;
}
.container-grid-proximas-fechas {
   display: grid;
   place-items: center;
   grid-template-columns: repeat(5, 7vw);
   margin-bottom: 20px;
   margin-top: 20px;
   -webkit-box-align: center;
   margin-left: 4vw;
   column-gap: 6vw;
   row-gap: 3vw;
}
    .carousel {
        background-image: url(../images/banner/1920-developers-basico.png),linear-gradient(#5d009b, #7b6ebe);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% auto;
    }
.btn-aplica-slide {
  width: 150px;
  height: 54px;
  margin-left: 250px;
  margin-top: 350px;
}

 .btn-aplica-slide a {
  color: white;
  vertical-align: middle;
  font-size: 20px;
  text-transform: uppercase;
}
}

